.noMargin {
	margin: 0px;
	width: 960px;
}


.pageHeader {
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 0px;
}

.pageNav {
	display: inline;
	position: relative;
	left: 850px;
	padding-top: 3px;
}

.contentBody {
	border-style: solid;
	border-color: grey;
	border-width: .5px;
	color: grey;
	position: relative;
	left: 5%;
	height: 50%;
	width: 50%;
	padding: 40px;
	display: inline-block;
	margin-top: 30px;
	margin-bottom:0px;

}

h1 {
	background-color: teal;
	display: inline-block;
	padding: 20px;
	position: relative;
	color: rgb(250, 250, 250);
	left: 100px;
	margin-top:0px;
	margin-bottom:0px;
	font-family: 'Georgia'
}

h2 {
	color: teal;
	font-size: 30px;
	font-family: 'Georgia'
}

hr {
	border-style: solid;
	border-color: lightgrey;
}


h3 {
	padding: 10px;
	display: inline;
	font-family: 'Georgia'
}

a {
	color: gray;
	text-decoration: none;
}

p.bioBody {
display: inline;
line-height: 40px;
font-family: 'Arial';
}

img.profPic {
height: 250px;
width: 250px;
float:left;
border: 250px;
margin-right: 40px;
margin-bottom: 15px;
padding-bottom: 15px;
}

.meat {
	background-image: url("assets/image/ep_naturalwhite.png");
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	border-style: solid;
	border-color: gray;
	margin: 0px;
	border-width: 1px;
	width: 650px;

}

footer {
	border-top-style: solid;
	border-color: teal;
	border-width: 4px;
	background-color: rgb(50, 50, 50);
	color:lightgray;
	padding-right: 20px;
	margin:0px;
	text-align: center;
}

.links {
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	display: inline-block;
	width: 250px;
	height: 250px;
	position: absolute;
	top: 106.8px;
	left: 1000px;
	padding: 30px 40px 40px 40px;
}

.connect {
	text-align: center;
	color: teal;
	font-weight: bold;
	font-size: large;
}

.connectWithMe {
	float: center;
	display: inline;
}

.mediaTick {
	float: center;
	width: 75px;
	height: 75px;
}