html, body {
	height: 100%;
}

header {
	width: 960px;

}

/*all h1 in the header will have style below*/
header h1 {
	background-color: #4aaaa5;
	font-size: 20px;
	color: white;
	padding: 12px 24px;
	display: inline-block;
	margin-bottom: 0;
}

header nav {
	display: inline-block;
}

.contentWrap {
	min-height: 100%;
	width: 960px;
	margin: 0 auto;
	/*To keep centered we set the right and left to AUTO. This is a block Element*/
	background: lightgray;
	/*order of border designation DOES matter*/
	border: 2px solid red;
	border-top: none;
	border-bottom: none;
}

main {
	margin: 0;
	width: 650px;
	padding-bottom: 90px;
}


footer {
	bottom: 0;
	color: white;
	position: fixed;
	display: inline-block;
	background:black;
	padding: 20px;
	text-align: center;
	width:100%;
}

main img {
	height: 200px;
	width: auto;
}